html, body
    margin: 0
    padding: 0
    width: 100%

header 
    width: 100%
    height: 100vh
    background: url("../../pics/header/headerbg.jpg") no-repeat 50% 50%
    background-size: cover

nav 
    position: fixed
    width: 100%
    height: 50px
    transition: 1s
    
nav ul 
    position: fixed
    float: left
    margin: 15px 25px
    list-style: none
    background: rgba(0,0,0,0)
    overflow: hidden
    color: #fff
    text-align: center
    margin: 0
    transition: 1s   

nav.black 
    background: #000;

nav ul li 
    display: inline-block
    padding: 10px
    opacity: .7
    transition: .5s
    border-top: 5px solid transparent

nav ul li:hover
    opacity: 1
    border-top: 5px solid #54d154

nav ul li a
    text-decoration: none
    color: #fff
    font-size: 20px

.menu-icon 
    width: 100%
    background: #000;
    text-align: right
    box-sizing: border-box
    padding: 15px 25px
    cursor: pointer
    color: #fff
    display: none

.logo img
    width: 100px
    height: 30px
    position: absolute
    margin: auto
    top: 0
    left: 0
    right: 0
    bottom: 0

.showing
    margin: 0
    padding: 0

.greeting
    width: 60%
    height: 250px
    margin: 0 auto
    padding-top: 400px

.greeting h1 
    color: #fff
    font-size: 76px
    text-align: center
    margin: 0

.work
    width: 250px
    height: 50px
    background: #54d154
    color: #fff
    border: 2px solid transparent
    border-radius: 25px
    margin: 30px auto
    position: relative
    cursor: pointer
    transition: .5s

.work:hover
    opacity: .7
    border: 2px solid #0b530b

.work a
    text-decoration: none
    color: #fff

.work span
    display: block
    width: 90%
    text-align: center
    font-size: 25px
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)

.scroll-btn
    width: 180px
    height: 36px
    background: #fff
    color: #000
    opacity: .8
    border-radius: 18px
    margin: 0 auto
    margin-top: 300px
    border: 2px solid transparent
    position: relative
    cursor: pointer
    transition: .7s

.scroll-btn:hover
    opacity: 1
    border: 2px solid #0b530b

.scroll-btn span
    display: block
    width: 90%
    text-align: center
    font-size: 24px
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)

.scroll-btn span i
    vertical-align: middle
    font-size: 14px

@media (max-width: 576px)
    nav ul
        position: fixed
        top 0
        max-height: 0
        margin: 0
        background: #000
        width: 100%

    .logo img
        position: absolute
        margin: auto
        top: 0
        left: 0
        right: 0
        bottom: 0

    nav.black 
        background: #000

    .showing
        max-height: 20em
        padding: 0

    nav ul li
        box-sizing: border-box
        width: 100%
        padding: 25px 0
        text-align: center

    .menu-icon
        display: block


